       <h1>Earthchip🪴</h1>          
        <div class="card">
            <div class="inner-card-title">
                <div class="beacon"></div>
                <h2 style="margin-left: 20px;">Live polling</h2>
            </div>
            <div class="inner-card">
            <div class="ellipse">
                <div class="topic" >
                    <div id="temp-value">{{{home.temp}}}&#176;</div>
                    <div class="topic-title">Temperature</div>
                </div>
            </div>
            <div class="ellipse">
                <div class="topic" >
                    <div id="soil-value">{{{home.soil}}}%</div>
                    <div class="topic-title">Soil Moisture</div>
                </div>
            </div>
        </div>
        <div class="info-section">Today the AI algorithm predicts the plant is &nbsp<span class="state-span">{{{home.state}}}</span> </div>
    </div>
            <div class="card" style="height: 400px;">
        <div class="inner-card-title">
            <h2>Hourly Temperature</h2>
        </div>
        <div class="inner-card">
            <div class="chart-container" style="margin-top: 13%;">
                <canvas id="tempchart"></canvas>
            </div>            
        </div>
    </div>
    <div class="card" style="height: 400px;">
        <div class="inner-card-title">
            <h2>Hourly Soil Moisture</h2>
        </div>
        <div class="inner-card">
            <div class="chart-container" style="margin-top: 13%;">
                <canvas id="soilchart"></canvas>
            </div>            
        </div>
    </div>
    <div class="button-water">
        <div class="button-title">Water now</div>
    </div>